body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/imagens/capa.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 600px;
    text-align: left;
    padding: 20px;
}

.logo img {
    width: 100px; /* Ajuste conforme necessário */
    display: block;
    margin-bottom: 20px;
}

.texto {
    margin-bottom: 20px;
}

.texto h2 {
    color: goldenrod; /* Cor dourada */
    font-size: 24px; /* Ajuste conforme necessário */
    font-weight: bold;
    margin: 0;
}

.texto p {
    margin-top: 10px;
    font-size: 18px;
}

.form-container {
    background: rgba(255, 255, 255, 0.2); /* Fundo transparente */
    padding: 20px;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1); /* Fundo transparente */
    color: white;
}

label {
    margin-bottom: 10px;
    display: block;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00ff00; /* Cor verde */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #00cc00; /* Tom mais escuro de verde */
}

#loading {
    text-align: center;
}

#mensagem {
    display: none;
    text-align: center;
}

#qrcode {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#whatsappGroupButton {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .logo img {
        width: 80px; /* Ajuste conforme necessário */
    }

    .texto h2 {
        font-size: 20px; /* Ajuste conforme necessário */
    }

    .texto p {
        font-size: 16px;
    }

    .form-container {
        padding: 15px;
    }

    button {
        font-size: 14px;
    }
}
